$font: #000000;
$border: lightgray;
$background: #f0f0f0;
$blue: #3564ff;
$red: rgb(175, 70, 70);

h4,
h5,
h6,
h1,
h2,
h3 {
  margin-top: 0;
}

ul,
ol,
p {
  margin: 0;
}

html,
body {
  font-family: "Hubballi", cursive;
  font-size: 100%;
  background: #fff;
  width: auto;
  height: auto;
  scroll-behavior: smooth;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

//Navbar style
.navbar {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 68px;
}

#menu,
#mySidenav,
#myMenunav,
#hamb {
  display: none;
}

.navigation {

  text-align: end;
}

.navigation ul {
  list-style: none;
}



//Container style

.welcome {
  font-family: "Hurricane", cursive;
  color: $blue;
  text-align: center;
  font-size: 5em;
  background-color: $background;
}

.container_register {
  justify-content: center;
  padding: 0;
}

.registerrow,
.loginrow,
.addetabrow {
  display: flex;
  justify-content: center;
  background-color: $background;
}

.container_ {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 20px;
}

// Table style

.table {
  border-collapse: separate;
  width: 100%;
  background-color: $background;
  border: 1px solid $border;
  margin-top: 15px;
}


#mytable {

  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background: silver;
}

.table td {

  vertical-align: middle;
  padding: 0;
}

.tbodyres tr td {
  padding: 10px;

}
#userless{
  display :none;
}

//button style

#delUser {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
  color: #f0f0f0;
}

.login-btn {
  margin-top: 15px;
}

.mybutton {
  border-radius: 15px;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  margin: auto;
}

.reservation {
  text-align: center;
  margin-top: 15px;
}

#promoteUser,
#demoteUser,
#deleteetab,
#delete {
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

#promoteUser {
  background-color: darkgreen;
  color: $background;
}

#demoteUser {
  background-color: darkred;
  color: $background;
}

#deleteetab,
#delete {
  background-color: $red;
  padding-top: 10px;
  color: $background;
  margin-bottom: 5px;
}

#retro-btn {
  background-color: $red;
}

#modal-btn {
  width: fit-content;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: $background;
  font-size: 2em;
}

#addimage,
#lien {
  width: 50%;
}

.addimg {
  display: flex;
  justify-content: center;
}

//carousel style

#carousel {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}
#close{
  color: $font;
  background-color: $background;
  width: fit-content;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 padding: px;

}

.carousel-item img {
  width: 100%;
  border-radius: 15px;
  height: auto;
  margin-top: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $font;
  border-radius: 15px;
  padding: 25px;
}

.modal-body {
  height: 600px;
  overflow: hidden;
}

.modal-content {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}

.modal-header {
  padding: 0;
}

//panel style

.panel {
  border: 1px solid gray;
  margin-bottom: 15px;
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  overflow: hidden;
}

.panel-body {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  height: 200px;
}

.panel-text,
.panel-title {
  margin-left: 15px;
  margin-right: 15px;
}

.panel-title {
  color: $blue;
}

.gallery {
  display: grid;
  grid-auto-rows: 75% 25%;
}

.image_default {
  text-align: center;
  margin-right: 10px;
  height: auto;
  border-radius: 15px;
}

.showcase {
  width: 80%;
  height: 150px;
  box-shadow: 5px 0px 0px black;
  border-radius: 15px;
}

.thumbsnail_list {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-right: 1px;

  img:first-child {
    margin-left: 4px;
  }
}

.overlay {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 15px;
}

.overlay:hover {
  opacity: 1;
}

.thumb {
  width: 45px;
  height: 100%;
  max-height: 45px;
}

.bigthumb {
  height: 400px;
}

.details {
  border: 1px solid lightgray;

  p {
    font-style: italic;
  }
}

.price {
  text-align: center;
  margin: auto;
}

.price p {
  margin: 15px 0;
}

.price a {
  margin: 10px 0;
}

#reservation {
  background-color: $blue;
  color: $background;
  border-radius: 15px;
}

//Content vitrine modif
.container_vitrine {
  width: 60%;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
}

#listContainer {
  background-color: $background;
  border: 1px solid $border;
  box-shadow: 10px 5px 5px black;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;

  a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 15px;
  }

  .navhotel:hover {
    background-color: $blue;
    color: $background;
    border-radius: 10px;

    a {
      color: $background;
    }
  }
}

#nomHotel {
  text-align: center;
  color: $blue;
}

#vitrineInfos p {
  text-align: center;
  margin-bottom: 5px;
}

//reservation style

#reservation_grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 125px;

  label {
    font-size: 1.5em;
    color: $blue;
  }

  p {
    margin-bottom: 10px;
    font-size: 1.3em;
  }
}
.reserve-card{
  background-color: $background;
  border-radius: 15px;
  padding: 5px;
  p{
margin-left: 5px;
}
  h4{
    text-align: center;
  }
  
}

//chat box

.chat_icon{
  padding: 5px;
  border-radius: 15px;
  background-color: #000000;
  position: fixed;
  right: 0px;
  bottom: 0;
  font-size: 25px;
  color: $blue;
  cursor: pointer;
  z-index: 1000;
}

.chat_box{
  border-radius: 15px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 400px;
  height: 75vh;
  background:$font;
  z-index: 1000;
  transition: all 0.3s ease-out ;
  transform: scaleY(0);
}
.chat_box.active {
  transform: scaleY(1);
}
#contact_form{
  margin-top: 80px;
}
.input-group-contact{
  display: flex;
  justify-content: center;
}
#myContactTitle{
  text-align: center;
  color: $background;
}
#contactEmail{
  width: auto;
}
#message {
  display: block;
  align-items: center;
  text-align: center;
}
#contact-btn{
  margin-top: 20px;
  width: auto;
  text-align: center;
}
.myContactButton{
  width: auto;
}
#messagealert{
  color: $blue;
  text-align: center;
}

//contact page
.contact_row{
  display: flex;
  justify-content: center;
}
.date{
  margin-top: 10px;

}
.messagecontact{
  color: $blue;
}
.cadre {
  border: 1px inset $font;
}



// Divers style
#mes_reservations {
  text-align: center;
}

#mycontainer h3,
#noetab {
  text-align: center;
}

#etabId {
  margin-bottom: 0;
}

label {
  margin-right: 15px;
  padding-top: 5px;
}

#response {
  text-align: center;
  font-weight: bolder;
  background-color: $red;
  padding: 5px;
}

.mytitle {
  text-align: center;
}

#selector {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.collapsetr {
  display: none;
}

#alert {
  background-color: $blue;
  color: $background;
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

.suite_list {
  margin-top: 30px;
}


// media screen

@media only screen and (max-width: 1330px) {
  body {
    font-size: small;
  }
  .gallery{
    display: inline;
   }
   .showcase, .panel-body{
     height: auto;
   }
   .panel-body{
     display: contents;
   }
   #caroussel{
     height: 400px;
     overflow: hidden;
   }
   .modal-body{
     height: 400px;
   }
   .carousel-item img{
     height: 400px;
     overflow: hidden;
   }

 
}

@media only screen and (max-width: 815px) {
  .groupement {
    display: none;
  }

  .welcome {
    font-size: 3em;
  }

  #listContainer {
    display: none;
  }

  .navigation {
    display: none;
  }

  #menu,
  #mySidenav,
  #myMenunav,
  #hamb {
    display: block
  }

  ;

  #menu {
    text-align: center;
  }

  #hamb {
    display: flex;
    justify-content: end;
  }

  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: $background;
    padding-top: 60px;
    transition: left 0.5s ease;
    border-radius: 15px;
  }

  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $blue;
    display: block;
    transition: 0.3s;
  }

  .sidenav p {
    color: $background;
  }


  .sidenav a:hover {
    color: $background;
    background-color: $font;
    border-radius: 15px;
  }

  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Active class */
  .sidenav.active {
    left: 0;
  }

  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
  }

  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

}

@media only screen and (max-width: 796px) {
  .container {
    padding: 0;
  }

  .table td,
  .table th {
    padding: inherit;
    vertical-align: inherit;
  }

  .row {
    padding: 0;
    margin: 0;
  }



  .card {
    margin-bottom: 15px;  
  }
 


  

  .container_ {
    margin-left: inherit;
    margin-right: inherit;
    width: 100%;
    background-color: inherit;
  }

  .input-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .add-btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .fulltr {
    display: none;
  }

  .collapsetr {
    display: contents;
  }

  .addetabrow {
    background-color: inherit;
  }

  .navbar-nav {
    position: inherit;
  }

}
@media only screen and (max-width: 435px) {
.chat_box.active{
  position: absolute;
  right: 0px;
  width: 100%;
}  
#contact_form{
  margin-top: 10px;
}

}

@media only screen and (max-width: 400px) {
  body {
    font-size: smaller;
  }
  #Description, #ownerName, #ownerSurname, #etabAddress, #userSurname, #userRole{
    display: none;
  }
  #caroussel{
    height: 300px;
    overflow: hidden;
  }
  .modal-body{
    height: 300px;
  }
  .carousel-item img{
    height: 300px;
    overflow: hidden;
  }
  .carousel-control-next, .carousel-control-prev{
    bottom: 120px;
  }
  
}

@media only screen and (max-width: 330px) {
  .groupement {
    display: none;
  }
}