$font: #000000;
$border: lightgray;
$background: #f0f0f0;
$blue: #3564ff;
$red: rgb(175, 70, 70);

h4,
h5,
h6,
h1,
h2,
h3 {
  margin-top: 0;
}
ul,
ol,
p {
  margin: 0;
}
html,
body {
  font-family: "Hubballi", cursive;
  font-size: 100%;
  background: #fff;
  width: 100%;
  height: auto;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

//Navbar style
.navbar {
  margin-top: 15px;
}
.navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  height: 68px;
}
.groupement {
  margin-left: 15px;
  color: $font;
}
.navbar-toggler {
  border: none;
  position: absolute;
  right: 20px;
}
.navbar-nav {
  position: absolute;
  right: 30px;
}

//Container style

.welcome {
  font-family: "Hurricane", cursive;
  margin-bottom: 50px;
  text-align: center;
  font-size: 5em;
  background-color: $background;
}
.container-register {
  justify-content: center;
}
.registerrow,
.loginrow,
.addetabrow {
  display: flex;
  justify-content: center;
  background-color: $background;
}
.container_ {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 20px;
}

// Table style

.table {
  background-color: $background;
  border: 1px solid $border;
  margin-top: 15px;
}
#mytable {
  padding: 10px;
}
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  width: 100px;
  border-top: none;
  text-align: center;
  margin-top: 15px;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
  text-align: center;
  font-style: italic;
}
tbody > tr:nth-child(odd) {
  background: silver;
}
.table td {
  vertical-align: middle;
  padding: 0;
}

//button style

#delUser {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
  color: #f0f0f0;
}
.login-btn {
  margin-top: 15px;
}
.mybutton {
  border-radius: 15px;
}
.input-group {
  width: 100%;
}
.input-group-addon {
  margin: auto;
}
.reservation {
  text-align: center;
  margin-top: 15px;
}
#promoteUser,
#demoteUser,
#deleteetab,
#delete {
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
}
#promoteUser {
  background-color: darkgreen;
  color: $background;
}
#demoteUser {
  background-color: darkred;
  color: $background;
}
#deleteetab,
#delete {
  background-color: $red;
  padding-top: 10px;
  color: $background;
  margin-bottom: 5px;
}
#retro-btn {
  background-color: $red;
}
#modal-btn {
  width: fit-content;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: $background;
  font-size: 2em;
}
#addimage,
#lien {
  width: 50%;
}
.addimg {
  display: flex;
  justify-content: center;
}

//carousel style

#carousel {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}
.carousel-item img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $font;
  border-radius: 15px;
  padding: 25px;
}

.modal-body {
  height: 600px;
  overflow: hidden;
}
.modal-content {
  border-radius: 15px;
  background-color: transparent;
}
.modal-header {
  padding: 0;
}
#close {
  font-size: xxx-large;
  color: #f0f0f0;
}

//panel style

.panel {
  border: 1px solid gray;
  margin-bottom: 15px;
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  overflow: hidden;
}
.panel-body {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  height: 200px;
}
.panel-text,
.panel-title {
  margin-left: 15px;
  margin-right: 15px;
}

.gallery {
  display: grid;
  grid-auto-rows: 75% 25%;
}
.image_default {
  margin-right: 10px;
  height: auto;
  border-radius: 15px;
}
.showcase {
  width: 100%;
  height: 150px;
  box-shadow: 5px 0px 0px black;
  border-radius: 15px;
}
.thumbsnail_list {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-right: 1px;
  img:first-child {
    margin-left: 4px;
  }
}
.overlay {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 15px;
}
.overlay:hover {
  opacity: 1;
}
.thumb {
  width: 45px;
  height: 100%;
  max-height: 45px;
}
.bigthumb {
  height: 400px;
}
.details {
  border: 1px solid lightgray;
  p {
    font-style: italic;
  }
}
.price {
  text-align: center;
  margin: auto;
}
.price p {
  margin: 15px 0;
}
.price a {
  margin: 10px 0;
}

//Content vitrine modif
.container_vitrine {
  width: 60%;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
}

#listContainer {
  background-color: $background;
  border: 1px solid $border;
  box-shadow: 10px 5px 5px black;
  width: 75%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 15px;
  }
  a:hover {
    background-color: $blue;
    color: $background;
  }
}
#nomHotel {
  text-align: center;
  color: $blue;
}
#vitrineInfos p {
  text-align: center;
  margin-bottom: 5px;
}

// Divers style

#mycontainer h3,
#noetab {
  text-align: center;
}

#etabId {
  margin-bottom: 0;
}

label {
  margin-right: 15px;
  padding-top: 5px;
}

#response {
  text-align: center;
  font-weight: bolder;
  background-color: $red;
  padding: 5px;
}

.mytitle {
  text-align: center;
}

#selector {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.collapsetr {
  display: none;
}
#alert {
  background-color: $blue;
  color: $background;
  border-radius: 15px;
  text-align: center;
  width: 100%;
}
.suite_list {
  margin-top: 30px;
}

// media screen

@media only screen and (max-width: 1330px) {
  body {
    font-size: small;
  }
}
@media only screen and (max-width: 796px) {
  .table td,
  .table th {
    padding: inherit;
    vertical-align: inherit;
  }
  .row {
    margin-left: inherit;
  }
  #mycarousel {
    display: block;
    text-align: -webkit-center;
  }
  .card {
    margin-bottom: 15px;
  }
  .container_ {
    margin-left: inherit;
    margin-right: inherit;
    width: 98%;
    background-color: inherit;
  }
  .input-group {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .add-btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .fulltr {
    display: none;
  }
  .collapsetr {
    display: contents;
  }
  .addetabrow {
    background-color: inherit;
  }
  .navbar-nav {
    position: inherit;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: smaller;
  }
}
@media only screen and (max-width: 330px) {
  .groupement {
    display: none;
  }
}
