@charset "UTF-8";
h4,
h5,
h6,
h1,
h2,
h3 {
  margin-top: 0;
}

ul,
ol,
p {
  margin: 0;
}

html,
body {
  font-family: "Hubballi", cursive;
  font-size: 100%;
  background: #fff;
  width: auto;
  height: auto;
  scroll-behavior: smooth;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.navbar {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 68px;
}

#menu,
#mySidenav,
#myMenunav,
#hamb {
  display: none;
}

.navigation {
  text-align: end;
}

.navigation ul {
  list-style: none;
}

.welcome {
  font-family: "Hurricane", cursive;
  color: #3564ff;
  text-align: center;
  font-size: 5em;
  background-color: #f0f0f0;
}

.container_register {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.registerrow,
.loginrow,
.addetabrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0f0f0;
}

.container_ {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 20px;
}

.table {
  border-collapse: separate;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid lightgray;
  margin-top: 15px;
}

#mytable {
  padding: 10px;
}

tbody > tr:nth-child(odd) {
  background: silver;
}

.table td {
  vertical-align: middle;
  padding: 0;
}

.tbodyres tr td {
  padding: 10px;
}

#userless {
  display: none;
}

#delUser {
  background-color: black;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f0f0f0;
}

.login-btn {
  margin-top: 15px;
}

.mybutton {
  border-radius: 15px;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  margin: auto;
}

.reservation {
  text-align: center;
  margin-top: 15px;
}

#promoteUser,
#demoteUser,
#deleteetab,
#delete {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

#promoteUser {
  background-color: darkgreen;
  color: #f0f0f0;
}

#demoteUser {
  background-color: darkred;
  color: #f0f0f0;
}

#deleteetab,
#delete {
  background-color: #af4646;
  padding-top: 10px;
  color: #f0f0f0;
  margin-bottom: 5px;
}

#retro-btn {
  background-color: #af4646;
}

#modal-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 2em;
}

#addimage,
#lien {
  width: 50%;
}

.addimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

#close {
  color: #000000;
  background-color: #f0f0f0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: px;
}

.carousel-item img {
  width: 100%;
  border-radius: 15px;
  height: auto;
  margin-top: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000;
  border-radius: 15px;
  padding: 25px;
}

.modal-body {
  height: 600px;
  overflow: hidden;
}

.modal-content {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}

.modal-header {
  padding: 0;
}

.panel {
  border: 1px solid gray;
  margin-bottom: 15px;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
  border-radius: 10px;
  overflow: hidden;
}

.panel-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 50% 20%;
      grid-template-columns: 30% 50% 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  height: 200px;
}

.panel-text,
.panel-title {
  margin-left: 15px;
  margin-right: 15px;
}

.panel-title {
  color: #3564ff;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 75% 25%;
}

.image_default {
  text-align: center;
  margin-right: 10px;
  height: auto;
  border-radius: 15px;
}

.showcase {
  width: 80%;
  height: 150px;
  -webkit-box-shadow: 5px 0px 0px black;
          box-shadow: 5px 0px 0px black;
  border-radius: 15px;
}

.thumbsnail_list {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-right: 1px;
}

.thumbsnail_list img:first-child {
  margin-left: 4px;
}

.overlay {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  border-radius: 15px;
}

.overlay:hover {
  opacity: 1;
}

.thumb {
  width: 45px;
  height: 100%;
  max-height: 45px;
}

.bigthumb {
  height: 400px;
}

.details {
  border: 1px solid lightgray;
}

.details p {
  font-style: italic;
}

.price {
  text-align: center;
  margin: auto;
}

.price p {
  margin: 15px 0;
}

.price a {
  margin: 10px 0;
}

#reservation {
  background-color: #3564ff;
  color: #f0f0f0;
  border-radius: 15px;
}

.container_vitrine {
  width: 60%;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
}

#listContainer {
  background-color: #f0f0f0;
  border: 1px solid lightgray;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

#listContainer a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 15px;
}

#listContainer .navhotel:hover {
  background-color: #3564ff;
  color: #f0f0f0;
  border-radius: 10px;
}

#listContainer .navhotel:hover a {
  color: #f0f0f0;
}

#nomHotel {
  text-align: center;
  color: #3564ff;
}

#vitrineInfos p {
  text-align: center;
  margin-bottom: 5px;
}

#reservation_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  grid-gap: 125px;
}

#reservation_grid label {
  font-size: 1.5em;
  color: #3564ff;
}

#reservation_grid p {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.reserve-card {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 5px;
}

.reserve-card p {
  margin-left: 5px;
}

.reserve-card h4 {
  text-align: center;
}

#mes_reservations {
  text-align: center;
}

#mycontainer h3,
#noetab {
  text-align: center;
}

#etabId {
  margin-bottom: 0;
}

label {
  margin-right: 15px;
  padding-top: 5px;
}

#response {
  text-align: center;
  font-weight: bolder;
  background-color: #af4646;
  padding: 5px;
}

.mytitle {
  text-align: center;
}

#selector {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collapsetr {
  display: none;
}

#alert {
  background-color: #3564ff;
  color: #f0f0f0;
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

.suite_list {
  margin-top: 30px;
}

@media only screen and (max-width: 1330px) {
  body {
    font-size: small;
  }
  .gallery {
    display: inline;
  }
  .showcase, .panel-body {
    height: auto;
  }
  .panel-body {
    display: contents;
  }
  #caroussel {
    height: 400px;
    overflow: hidden;
  }
  .modal-body {
    height: 400px;
  }
  .carousel-item img {
    height: 400px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 815px) {
  .groupement {
    display: none;
  }
  .welcome {
    font-size: 3em;
  }
  #listContainer {
    display: none;
  }
  .navigation {
    display: none;
  }
  #menu,
  #mySidenav,
  #myMenunav,
  #hamb {
    display: block;
  }
  #menu {
    text-align: center;
  }
  #hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #f0f0f0;
    padding-top: 60px;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    border-radius: 15px;
  }
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3564ff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sidenav p {
    color: #f0f0f0;
  }
  .sidenav a:hover {
    color: #f0f0f0;
    background-color: #000000;
    border-radius: 15px;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
  }
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 796px) {
  .container {
    padding: 0;
  }
  .table td,
  .table th {
    padding: inherit;
    vertical-align: inherit;
  }
  .row {
    padding: 0;
    margin: 0;
  }
  .card {
    margin-bottom: 15px;
  }
  .container_ {
    margin-left: inherit;
    margin-right: inherit;
    width: 100%;
    background-color: inherit;
  }
  .input-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .add-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .fulltr {
    display: none;
  }
  .collapsetr {
    display: contents;
  }
  .addetabrow {
    background-color: inherit;
  }
  .navbar-nav {
    position: inherit;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: smaller;
  }
  #Description, #ownerName, #ownerSurname, #etabAddress, #userSurname, #userRole {
    display: none;
  }
  #caroussel {
    height: 300px;
    overflow: hidden;
  }
  .modal-body {
    height: 300px;
  }
  .carousel-item img {
    height: 300px;
    overflow: hidden;
  }
  .carousel-control-next, .carousel-control-prev {
    bottom: 120px;
  }
}

@media only screen and (max-width: 330px) {
  .groupement {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */